<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

<script type="text/javascript">
	var app = angular.module("App", []);


	app.controller("AppCtrl", function($scope, $http){
	  $scope.to_vote_vm = function(vote){
				vote.cast = function () {
					$http.post('/votes/cast',{id:vote.id, voter:'b4fb390f-79df-44af-b798-5d885fdc3d5a'})
						.success(function(){vote.count++;});
				};
	  };

		$http({method: 'GET', url: '/events/1.json'})
		.success(function(data){
			$scope.flexevent = data.flexevent;
			$scope.flexevent.votes = data.votes;
			_.each($scope.flexevent.votes,$scope.to_vote_vm);
		});
	});
</script>

<div id="main" ng-app="App" ng-controller="AppCtrl">
	<h3>{{flexevent.name}}</h3>
	<div class="votes" ng-repeat="vote in flexevent.votes">
		{{vote.count}} {{vote.event_date}} <input type="button" value="vote" ng-click="vote.cast()"/>
	</div>
</div>