
<script type="text/javascript">
	var app = angular.module("App", []);

	app.controller("AppCtrl", function($scope, $http){
	  $scope.to_vote_vm = function(vote){
	  	vote["downvoted"] = false;
	  	vote["upvoted"] = false;
		  	vote.upvote_symbol = function() {
		  		if(!vote.upvoted) return "^";
		  		return "X";
		  	};
		  	vote.downvote_symbol = function() {
		  		if(!vote.downvoted) return "\u2228";
		  		return "X";
		  	};
		  	vote.clear_upvote = function(){
		  		vote.upvoted = false;
		  		vote.upvotes--;
		  	};
		  	vote.clear_downvote = function(){
		  		vote.downvoted = false;
		  		vote.downvotes++;
		  	};
				vote.upcast = function () {
					if(vote.downvoted) { this.clear_downvote(); }
					var delta = 1;
					if(vote.upvoted) delta = -1;

					vote.upvotes += delta;
					vote.upvoted = !vote.upvoted;
				};
				vote.downcast = function () {
					if(vote.upvoted) { this.clear_upvote(); }
					var delta = -1;
					if(vote.downvoted) delta = 1;

					vote.downvotes += delta;
					vote.downvoted = !vote.downvoted;
				};
				vote.up_tip=function(){
					if(!vote.upvoted) return "Up vote this day if it's good for you.";
					return "Whoops! Undo your up vote.";
				};
				vote.down_tip=function(){
					if(!vote.downvoted) return "Down vote this day if it isn't good for you.";
					return "Whoops! Undo your down vote.";
				};
			};

	  data = {
	  	flexevent: {
	  		address: "1234 main st",
	  		created_at: "2013-04-01T06:10:54Z",
	  		event_time: "2000-01-01T06:10:00Z",
	  		id: 1,
	  		location: "Improving Enterprises",
	  		name: "April Hack Club",
	  		updated_at: "2013-04-01T06:10:54Z",
	  		voting_cutoff: "2013-04-01T06:10:00Z"
	  	},
	  	votes: [
		  	{
		  		voter_id: '28a66b92-768c-43c2-be11-9b301fe87ef8', 
		  		upvotes: 8, 
		  		downvotes: -3, 
		  		created_at: "2013-04-09T00:39:27Z",
		  		event_date: "2013-04-01",
		  		event_id: 1,
		  		id: 1,
		  		updated_at: "2013-04-09T00:39:27Z"
		  	},
		  	{
		  		voter_id: '28a66b92-768c-43c2-be11-9b301fe87ef8',
		  		upvotes: 4,
		  		downvotes: -8,
		  		created_at: "2013-04-09T00:39:47Z",
		  		event_date: "2013-04-02",
		  		event_id: 1,
		  		id: 2,
		  		updated_at: "2013-04-09T00:39:47Z"
		  	}
	  	]
	  };

	  $scope.flexevent = data.flexevent;
	  $scope.flexevent.votes = data.votes;
		_.each($scope.flexevent.votes,$scope.to_vote_vm);

		 $(document).ready(function () {
                $("button").tooltip({'placement': 'right'});
              });
	});
</script>

<div id="main" ng-app="App" ng-controller="AppCtrl">
	<div class="row span12">
		<h3>{{flexevent.name}}</h3>
		<ul>
			<li>Location: {{flexevent.location}}</li>
			<li>Address: {{flexevent.address}}</li>
			<li>Voting Cutoff: {{flexevent.event_time | date:'MMMM d yyyy h:mm a'}}</li>
			<li>Event Time: {{flexevent.voting_cutoff | date:'h:mm a'}}</li>
		</ul>
	</div>
	<div class="row span12">
		<h3>Voting Options</h3>
		<table class="row span3 votes table" ng-repeat="vote in flexevent.votes">
			<tr>
				<td><h4>{{vote.event_date | date:'MMMM d yyyy'}}</h4></td>
			</tr>
			<tr ng-class="{'success': vote.upvoted}">
				<td>
					up votes:
				</td>
				<td>
					{{vote.upvotes}}
				</td>
				<td>
					<button class="btn" 
									data-toggle="tooltip"
									ng-mouseenter="uphovered = true" 
									ng-mouseleave="uphovered = false" 
									ng-class="{'btn-success': !vote.downvoted && (!vote.upvoted && uphovered)}" 
									rel="tooltip" 
									title="" 
									data-original-title="{{vote.up_tip()}}" 
									ng-click="vote.upcast()">
									{{vote.upvote_symbol()}}
					</button>
				</td>
			</tr>
			<tr ng-class="{'error': vote.downvoted}">
				<td>
					down votes: 
				</td>
				<td>
					{{vote.downvotes}} 
				</td>
				<td>
					<button class="btn" 
									ng-mouseenter="downhovered = true" 
									ng-mouseleave="downhovered = false" 
									ng-class="{'btn-danger': !vote.upvoted && (!vote.downvoted && downhovered)}" 
									rel="tooltip" 
									title="" 
									data-original-title="{{vote.down_tip()}}" 
									ng-click="vote.downcast()">
									{{vote.downvote_symbol()}}
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>