<div id="main" ng-app="App" ng-controller="AppCtrl">
  <div class="row span12">
    <h3>{{flexevent.name}}</h3>
    <ul>
      <li>Location: {{flexevent.location}}</li>
      <li>Address: {{flexevent.address}}</li>
      <li>Voting Cutoff: {{flexevent.voting_cutoff | date:'MMMM d yyyy h:mm a'}}</li>
      <li>Event Time: {{flexevent.event_time | date:'h:mm a'}}</li>
    </ul>
  </div>
  <div class="row span12">
    <h3>Voting Options</h3>
    <table class="row span3 votes table" ng-repeat="vote in flexevent.votes">
      <tr>
        <td><h6>{{vote.event_date | date:'EEEE, MMM d'}}</h6></td>
      </tr>
      <tr ng-class="{'success': vote.upvoted}">
        <td>
          up votes:
        </td>
        <td>
          {{vote.upvotes}}
        </td>
        <td>
          <button class="btn" 
                  ng-mouseenter="uphovered = true" 
                  ng-mouseleave="uphovered = false" 
                  ng-class="{'btn-success': uphovered}" 
                  tooltip-placement="right"
                  ng-show="!vote.upvoted"
                  tooltip="Up vote this day if it's good for you." 
                  ng-click="vote.cast(1)">^</button>
          <button class="btn" 
                  tooltip-placement="right"
                  tooltip="Whoops! Undo your up vote."
                  ng-show="vote.upvoted"
                  ng-click="vote.clear_upvote()">X</button>
        </td>
      </tr>
      <tr ng-class="{'error': vote.downvoted}">
        <td>
          down votes: 
        </td>
        <td>
          {{vote.downvotes}} 
        </td>
        <td>
          <button class="btn" 
                  ng-mouseenter="downhovered = true" 
                  ng-mouseleave="downhovered = false" 
                  ng-class="{'btn-danger': downhovered}" 
                  tooltip-placement="right"
                  ng-show="!vote.downvoted"
                  tooltip="Down vote this day if it isn't good for you." 
                  ng-click="vote.cast(-1)">v</button>
          <button class="btn" 
                  tooltip-placement="right"
                  tooltip="Whoops! Undo your down vote."
                  ng-show="vote.downvoted"
                  ng-click="vote.clear_downvote()">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>