<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    <%= "You're invited to help pick the date for #{@voter.event.name}." %>
    </p>
    <p>
    <%= "Hurry! Voting ends #{@voter.event.voting_cutoff_clean}." %>
    </p>
    <p>
    Click <%= link_to "here", :only_path => false, :controller => :events, :action => :show, :id => @voter.event, :voter => @voter.guid %> for more details and to cast your vote!
  </body>
</html>